*{
    background-color: #369;
}
 p{
    position: relative;
    text-align: center;
}

table,tr,td{
    border: 5px solid black;
}

h1{
    text-align: center;
}

table{
    margin-left: auto;
    margin-right: auto;
}

td{
    text-align: center;
    padding:  5px 10px;
}

button{
    background-color: grey;
    padding: 5px 10px;
}